In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv('middle.csv')

In [3]:
data.head()

,Unnamed: 0,id,title,tags
0,0,19995,Avatar,action adventur fantasi sciencefict in the 22n...
1,1,285,Pirates of the Caribbean: At World's End,"adventur fantasi action captain barbossa, long..."
2,2,206647,Spectre,action adventur crime a cryptic messag from bo...
3,3,49026,The Dark Knight Rises,action crime drama thriller follow the death o...
4,4,49529,John Carter,action adventur sciencefict john carter is a w...

In [4]:
new=data[["id","title","tags"]]

In [5]:
new.head()

,id,title,tags
0,19995,Avatar,action adventur fantasi sciencefict in the 22n...
1,285,Pirates of the Caribbean: At World's End,"adventur fantasi action captain barbossa, long..."
2,206647,Spectre,action adventur crime a cryptic messag from bo...
3,49026,The Dark Knight Rises,action crime drama thriller follow the death o...
4,49529,John Carter,action adventur sciencefict john carter is a w...

In [6]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')

In [7]:
vector = cv.fit_transform(new['tags']).toarray()

In [8]:
vector.shape

(4806, 5000)

In [9]:
from sklearn.metrics.pairwise import cosine_similarity

In [10]:
similarity = cosine_similarity(vector)

In [11]:
similarity

array([[1.        , 0.12768848, 0.0761387 , ..., 0.03009646, 0.        ,
        0.        ],
       [0.12768848, 1.        , 0.0745356 , ..., 0.02946278, 0.        ,
        0.03149704],
       [0.0761387 , 0.0745356 , 1.        , ..., 0.02635231, 0.        ,
        0.        ],
       ...,
       [0.03009646, 0.02946278, 0.02635231, ..., 1.        , 0.04303315,
        0.04454354],
       [0.        , 0.        , 0.        , ..., 0.04303315, 1.        ,
        0.09200874],
       [0.        , 0.03149704, 0.        , ..., 0.04454354, 0.09200874,
        1.        ]])

In [12]:
new[new['title'] == 'The Lego Movie'].index[0]

744

In [23]:
def recommend(movie):
    index = new[new['title'] == movie].index[0]
    distances = sorted(list(enumerate(similarity[index])),reverse=True,key = lambda x: x[1])
    for i in distances[1:6]:
        print(new.iloc[i[0]].title)

In [22]:
recommend('Gandhi')

(3649, 0.3362044744996518)
(4388, 0.2477201785391794)
(2714, 0.24504901470490176)
(2277, 0.242535625036333)
(3231, 0.2381652558112334)

In [15]:
import pickle

In [16]:
pickle.dump(new,open('movie_list.pkl','wb'))
pickle.dump(similarity,open('similarity.pkl','wb'))

In [17]:
new['title'].values

array(['Avatar', "Pirates of the Caribbean: At World's End", 'Spectre',
       ..., 'Signed, Sealed, Delivered', 'Shanghai Calling',
       'My Date with Drew'], dtype=object)